<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ analytics_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ?
            'https://ssl' : 'http://www') +
            '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);

    })();

    (function($) {
        $(function() {
            $('a[href^="http"]:not([href*="' + document.domain + '"])').click(function(e) {

                // When a user clicks an external link
                if ($(this).attr('target') !== '_blank') {
                    e.preventDefault();

                    (function(a) {
                        setTimeout(function() {
                            document.location = a.attr('href');
                        },300)
                    })($(this));
                }

                // Track URL and nearest element with an ID and send to Google Analytics
                window.pageTracker ? pageTracker._trackEvent('Outbound', $(this).attr('href'), "#" + $(this).closest('[id!=""]').attr('id')) : _gaq.push(['_trackEvent', 'Outbound', $(this).attr('href'), "#" + $(this).closest('[id!=""]').attr('id')]);
            });
        })
    })(jQuery)

</script>
